
studio.app.localhost {
    forward_auth authelia:9091 {
        uri /api/verify?rd=https://auth.app.localhost
        copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
    }
    reverse_proxy kong:8000
}

auth.app.localhost {
    reverse_proxy authelia:9091
}

supabase.app.localhost {
    reverse_proxy kong:8000
}
